body {
  margin-left: 50px;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #6be9eb;
}

.centered-div {
  display: flex;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  display: flex; 
  align-items: center;
  justify-content: center;
  flex: 1 0 200px;
  margin: 10px;
  box-sizing: border-box;
  border: 1px solid #000; 
  padding: 10px; 
  background-color: #fff;
  overflow: hidden; 
}

img {
  max-width: 100%;
  height: auto;
  padding: 1.5em;
  object-fit: cover;
}

nav {
  background-color: #f8f9fa;
  padding: 1rem 2rem;
  margin: 1rem auto; 
  width: 80%; 
  display: block; 
}

nav a {
  color: #000;
  text-decoration: none;
  font-size: 1.2rem;
  margin: 0 1rem;
}

nav a:hover {
  color: #970ed1;
}

button {
  color: #fff;
  background-color: #007bff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem; 
  cursor: pointer;
  transition: all 0.3s ease; 
  margin: 0.5rem;
  text-decoration: none; 
  font-weight: 600; 
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); 
}

button:hover {
  background-color: #0056b3; 
}

button:active {
  background-color: #003d80; 
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); 
  transform: translateY(3px); 
}

#view-cart-button {
  position: fixed;
  top: 20px;
  right: 20px;
}
.details-button {
  display: inline-block;
  padding: 5px 10px; 
  margin-top: 20px;
  border: none;
  background-color: #007bff;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 14px; 
  transition: background-color 0.3s ease;
}

#logout-button {
  position: fixed;
  top: 60px;
  right: 20px;
}

button:hover {
  background-color: #970ed1; 
}
