.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto; /* Center the cart */
  padding: 1rem; /* Add some padding */
  max-width: 600px; /* Limit the width */
}

.cart-item {
  display: flex;
  justify-content: space-between; /* Distribute items evenly */
  align-items: center; /* Vertically align the text */
  border: 1px solid #ccc; /* Add a border */
  padding: 1rem; /* Add some padding */
  margin: 0.5rem 0; /* Add some margin */
}

.cart-empty {
  text-align: center;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

.cart-item-image {
  width: 8%; /* Make the image smaller */
  height: 8%; /* Make the image smaller */
}

.cart-item-id {
  text-align: center;
}

.cart-item-quantity {
  display: flex;
  align-items: center;
}

.cart-item-price {
  text-align: center;
}

.cart-item-remove {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 120px; /* Set a specific width */
  height: 30px; /* Set a specific height */
  padding: 5px; /* Add some padding */
  font-size: 0.8rem; /* Make the font size smaller */
  margin-right: 10px;
}

.add-more {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 120px; /* Set a specific width */
  height: 30px; /* Set a specific height */
  padding: 5px; /* Add some padding */
  font-size: 0.8rem; /* Make the font size smaller */
  margin-right: 10px;
}

.cart-total {
  margin-top: 1rem;
  font-weight: bold;
}
